---
const links = [
    { label: "atyb.me", href: "https://atyb.me" },
    {
        label: "github",
        href: "https://github.com/atybdot",
    },
    { label: "x.com", href: "https://twitter.com/atybdot" },
];
---

<footer class="text-center pb-12 text-zinc-500 text-sm">
    <div class="flex justify-center flex-wrap gap-2 mb-2">
        {
            links.map((link) => (
                <>
                    <a
                        href={link.href}
                        class="hover:text-zinc-100 transition-colors"
                    >
                        {link.label}
                    </a>
                    <span class="text-zinc-600 last:hidden">/</span>
                </>
            ))
        }
    </div>
</footer>
